<div class="container">
    <div class="tableBox">
        <table class="table  table-bordered table-striped">
            <tr class="text-center ">
                <th>Store id</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Manager</th>
                <th></th>
            </tr>
            <tbody>
                {{#each storeData as |store|}}
                    <td>{{store.store_id}}</td>
                    {{#with store.Address as |addr|}}
                        <td>{{addr.address}}</td>
                        {{#with addr.City as |City|}}
                            <td>{{City.city}}</td>
                            <td>{{addr.district}}</td>
                            <td>{{addr.postal_code}}</td>
                            {{#with City.Country as |Country|}}
                                <td>{{Country.country}}</td>
                            {{/with}}
                            <td>{{addr.phone}}</td>
                        {{/with}}
                    {{/with}}
                    {{#with store.Manager as|Manager|}}
                        <td>{{Manager.first_name}} {{Manager.last_name}}</td>
                    {{/with}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>